.comment-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
}

.comment-list {
    display: grid;
   grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.comment-box {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.comment-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.comment-content p, .reply-box p {
    margin: 0;
    padding: 10px;
    background-color: #b40a98b9;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-header, .reply-header {
    margin: 0;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
}

.reply-box {
    margin-left: 20px;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
}

.reply-input-group, .comment-input-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.reply-input-group input, .comment-input-group input {
    flex: 1;
    margin-right: 10px;
}

.rating-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

.rating-section h5 {
    margin: 0;
    margin-right: 10px;
}

.container-flex {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 3px;
}

.text-secondary-emphasis {
    margin: 0;
}

.comment-actions ,.reply-actions{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment-actions i,.reply-actions i {
    margin-left: 10px;
    cursor: pointer;
}

.comment-likes {
    margin-left: 4px;
}

.comment-header{
    margin-right: 8px;
}
.comment-actions .ml-auto ,.reply-actions .ml-auto{
    margin-left: auto;
}