.product-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
    width: 100%;
}

.product-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    text-align: center;
    width: 100%; /* Ensure it uses full width available */
}

.product-image {
    max-width: 300px;
    height: auto;
}

.comment-section {
    flex-grow: 1;
    max-width: 800px;
}

